<section class="relative bg-soil w-full flex flex-col items-center gap-8 py-24">
  <section class="flex flex-col justify-center gap-4 w-full max-w-content px-5 md:px-10 lg:px-0">
    <h2 class="font-bold text-3xl md:text-[40px] text-white">Make Your Pledge</h2>
    <p class="text-white text-base leading-8">Today, in light of the challenges that junior and mid-level technologists face, I commit to advancing the next generation of technologists in four ways:</p>
    <ul class="list-disc ml-8">
      <li class="text-white text-base leading-8">I will <span class="font-bold underline">create</span> career opportunities.</li>
      <li class="text-white text-base leading-8">I will <span class="font-bold underline">share</span> domain and technical knowledge.</li>
      <li class="text-white text-base leading-8">I will <span class="font-bold underline">invest</span> in mentorship.</li>
      <li class="text-white text-base leading-8">I will <span class="font-bold underline">cultivate</span> relationships.</li>
    </ul>
  </section>
  <%= form_for @pledge, html: { class: "flex flex-col justify-center gap-5 w-full max-w-content px-5 md:px-10 lg:px-0" } do |form| %>
    <section class="flex flex-col gap-5 sm:flex-row">
      <div class="flex flex-col w-full">
        <%= form.label :first_name, class: "bg-soil w-fit text-white font-medium italic px-3 uppercase ml-8 -mb-[10px] z-10 text-xs" %>
        <%= form.text_field :first_name, required: true, class: "bg-transparent border-2 border-mango rounded-none h-11 px-3 text-white focus:outline-0 focus:border-yellow-400" %>
      </div>
      <div class="flex flex-col w-full">
        <%= form.label :last_name, class: "bg-soil w-fit text-white font-medium italic px-3 uppercase ml-8 -mb-[10px] z-10 text-xs" %>
        <%= form.text_field :last_name, required: true, class: "bg-transparent border-2 border-mango rounded-none h-11 px-3 text-white focus:outline-0 focus:border-yellow-400" %>
      </div>
    </section>
    <section class="flex flex-col w-full">
      <%= form.label :email, class: "bg-soil w-fit text-white font-medium italic px-3 uppercase ml-8 -mb-[10px] z-10 text-xs" %>
      <%= form.text_field :email, required: true, class: "bg-transparent border-2 border-mango rounded-none h-11 px-3 text-white focus:outline-0 focus:border-yellow-400" %>
    </section>
    <section class="flex flex-col gap-3 items-end">
      <%= form.submit "Sign", class: "flex justify-center items-center px-8 min-h-11 bg-mango font-medium italic uppercase text-white text-lg cursor-pointer rounded-none border-2 border-mango hover:bg-persimmon hover:border-persimmon focus:outline-0 focus:border-yellow-400" %>
    </section>
  <% end %>
  <%= render "pledges/form/swirly_arrow" %>
</section>
<% if flash[:success] %>
  <aside class="flex items-center justify-between gap-3 fixed top-8 left-1/2 -translate-x-1/2 text-white font-lg px-3 py-2 text-left bg-green-500 z-50 min-w-[90%] md:min-w-64">
    <%= flash[:success] %>
    <%= render "pledges/form/close_button" %>
  </aside>
<% end %>
<% if flash[:error] %>
  <aside class="flex items-center justify-between gap-3 fixed top-8 left-1/2 -translate-x-1/2 text-white font-lg px-3 py-2 text-left bg-red-600 z-50 min-w-[90%] md:min-w-64">
    <%= flash[:error] %>
    <%= render "pledges/form/close_button" %>
  </aside>
<% end %>
