<%= turbo_stream_from "pledge_count" %>
<%= form_for @pledge do |form| %>
  <%= form.label :first_name %>
  <%= form.text_field :first_name %>
  <%= form.label :last_name %>
  <%= form.text_field :last_name %>
  <%= form.label :email %>
  <%= form.text_field :email %>
  <%= form.submit "Sign" %>
<% end %>

<% if flash[:success] %>
  <aside>
    <p><%= flash[:success] %></p>
  </aside>
<% end %>

<% if flash[:error] %>
  <aside>
    <p><%= flash[:error] %></p>
  </aside>
<% end %>

<%= render "pledge_count" %>
