<header class="relative flex justify-center items-center min-h-[350px] bg-gradient-to-br from-mango to-persimmon overflow-hidden">
  <figure class="text-white w-full max-w-[550px] px-10">
    <%= render "logo" %>
    <figcaption class="hidden">White Advance Manifesto logo</figcaption>
  </figure>
  <div class="absolute top-6 right-0 opacity-60 xl:opacity-100">
    <%= render "wordmark_pattern", locals: { position: :right } %>
  </div>
  <div class="absolute left-0 bottom-6 opacity-60 xl:opacity-100">
    <%= render "wordmark_pattern", locals: { position: :left } %>
  </div>
</header>
<section class="flex justify-center max-w-[1440px] mx-auto px-5 py-16 md:py-24 md:px-10">
  <div class="relative flex flex-col xl:items-center">
    <aside class="flex items-center gap-2 mb-9 xl:gap-3 xl:w-0 xl:overflow-visible xl:mb-0 xl:origin-bottom-left xl:-rotate-90 xl:absolute xl:bottom-1/4 xl:left-[-100px]" id="pledge_count">
      <%= turbo_stream_from "pledge_count" %>
      <%= render "pledge_count" %>
    </aside>
    <article class="flex flex-col gap-4 max-w-content">
      <p class="text-soil font-medium text-xl md:text-2xl">
        Today’s marketplace for software jobs is increasingly less favorable to those newer to tech and those in the unfortunate limbo of mid-level classification.
      </p>
      <p class="text-soil text-base	leading-8">
        There are many reasons for this. We’re in the budding age of AI, and cutting edge companies are in need of experts to pave the way to uncharted territory. Speaking of competitive advantage, it makes a whole lot of immediate business sense to hire a team of all-stars, people with decades of experience and unheard of prowess, to lead the charge for revolutionary product development.
      </p>
      <p class="text-soil text-base	leading-8">
        Yet, as we strive to fill our ranks with the best of the best, a massive cavity is forming for those caught in the middle. In favor of immediate business results, we are overlooking junior and mid-level technologists, leaving our industries wide open to bottoming out in the short years ahead.
      </p>
      <p class="text-soil text-base	leading-8">
        As we make the market less favorable for those caught in the middle, we are cutting off our supply of the next generation of remarkable technological talent. Just as it makes good business sense to hire north of senior, it makes wise financial sense for the middle to move their interests elsewhere to support themselves and their families. We are forsaking a diverse and thriving pool of technologists in our pursuit of short-term business sensibilities, thereby cutting off the rich supply of successful talent that will sustain innovative industries in the long-term.
      </p>
      <div>
        <p class="text-soil text-base	leading-8">Without the middle:</p>
        <ul class="list-disc ml-8">
          <li class="text-soil text-base leading-8">We will have less talent over time.</li>
          <li class="text-soil text-base leading-8">We will have less diversity of ideas that foster innovation.</li>
          <li class="text-soil text-base leading-8">We will solve fewer problems for our customers.</li>
        </ul>
      </div>
      <p class="text-soil text-base	leading-8">
        There is a cohort of technologists waiting for us to ship them to production. They are the next generation of engineers, the upcoming techies, and the ones who will carry us through the next iterations of software advancement and artificial intelligence.
      </p>
      <p class="text-soil text-base	leading-8">
        Overlooked, disregarded, and far underestimated, these technologists know grit better than any of us. They’ve searched for jobs to no avail, wrestled with technical problems with little help, and spent long nights fretting over their dreams.
      </p>
      <p class="text-soil font-medium text-xl z-10 md:text-2xl">
        The middle needs us as much as we need them. Sign the manifesto now to make a way for the next generation of technologists.
      </p>
    </article>
  </div>
</section>
<section class="relative py-24 bg-soil w-full flex flex-col items-center gap-8">
  <section class="flex flex-col justify-center gap-4 w-full max-w-content px-5 md:px-10 lg:px-0">
    <h2 class="font-bold text-3xl md:text-[40px] text-white">Make Your Pledge</h2>
    <p class="text-white text-base leading-8">Today, in light of the technologists stuck in the middle, I commit to advancing the next generation of problem-solvers in four ways:</p>
    <ul class="list-disc ml-8">
      <li class="text-white text-base leading-8">I will forge paths for those behind me and ahead of me through career and learning opportunities.</li>
      <li class="text-white text-base leading-8">I will lower the barrier to entry by openly sharing domain and technical knowledge.</li>
      <li class="text-white text-base leading-8">I will create formal and informal spaces for mentorship and mentoring.</li>
      <li class="text-white text-base leading-8">And through honesty about my own works in progress, I will build lasting relationships that enrich community flourishing.</li>
    </ul>
    <p class="text-white text-base leading-8 font-bold">Today, I will advance the middle.</p>
  </section>
  <%= form_for @pledge, html: { class: "flex flex-col justify-center gap-5 w-full max-w-content px-5 md:px-10 lg:px-0" } do |form| %>
    <section class="flex flex-col gap-5 sm:flex-row">
      <div class="flex flex-col w-full">
        <%= form.label :first_name, class: "bg-soil w-fit text-white font-medium italic px-3 uppercase ml-8 -mb-[10px] z-10 text-xs" %>
        <%= form.text_field :first_name, required: true, class: "bg-transparent border-2 border-mango radius-0 h-11 px-3 text-white focus:outline-0 focus:border-yellow-400" %>
      </div>
      <div class="flex flex-col w-full">
        <%= form.label :last_name, class: "bg-soil w-fit text-white font-medium italic px-3 uppercase ml-8 -mb-[10px] z-10 text-xs" %>
        <%= form.text_field :last_name, required: true, class: "bg-transparent border-2 border-mango radius-0 h-11 px-3 text-white focus:outline-0 focus:border-yellow-400" %>
      </div>
    </section>
    <section class="flex flex-col w-full">
      <%= form.label :email, class: "bg-soil w-fit text-white font-medium italic px-3 uppercase ml-8 -mb-[10px] z-10 text-xs" %>
      <%= form.text_field :email, required: true, class: "bg-transparent border-2 border-mango radius-0 h-11 px-3 text-white focus:outline-0 focus:border-yellow-400" %>
    </section>
    <section class="flex flex-col gap-3 items-end">
      <%= form.submit "Sign", class: "flex justify-center items-center px-8 min-h-11 bg-mango font-medium italic uppercase text-white text-lg cursor-pointer hover:bg-persimmon" %>
    </section>
  <% end %>
  <%= render "swirly_arrow" %>
</section>
<section class="flex flex-col gap-8 max-w-content mx-auto py-24 px-5 md:px-10">
  <section class="flex flex-col gap-2">
    <h2 class="font-bold text-3xl md:text-[40px] text-soil">Spread the Word</h2>
    <p class="text-soil text-base leading-8">Advancing the middle is a group effort. 🧡 Download an image and spread the word on your favorite socials!</p>
  </section>
  <section class="flex flex-col items-center gap-10 md:flex-row md:items-center">
    <div class="flex flex-col gap-2 items-end">
      <%= image_tag "share-me-with-friends__01.svg", class: "w-full max-w-md" %>
      <a class="flex items-center justify-center w-8 h-8 bg-soil" href="<%= image_url "share-me-with-friends__01.png" %>" download="share-me-with-friends__01.png">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M22.0006 15.3333V16.6667C22.0006 18.5336 22.0006 19.4669 21.6372 20.18C21.3177 20.8072 20.8078 21.3171 20.1805 21.6367C19.4674 22 18.5341 22 16.6672 22H7.33388C5.46704 22 4.53362 22 3.82058 21.6367C3.19337 21.3171 2.68344 20.8072 2.36386 20.18C2.00055 19.4669 2.00055 18.5336 2.00055 16.6667V15.3333M17.5561 9.77778L12.0005 15.3333M12.0005 15.3333L6.44499 9.77778M12.0005 15.3333V2" stroke="white" stroke-width="2.22222" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </div>
    <div class="flex flex-col gap-2 items-end">
      <%= image_tag "share-me-with-friends__02.svg", class: "w-full max-w-md" %>
      <a class="flex items-center justify-center w-8 h-8 bg-soil" href="<%= image_url "share-me-with-friends__02.png" %>" download="share-me-with-friends__02.png">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M22.0006 15.3333V16.6667C22.0006 18.5336 22.0006 19.4669 21.6372 20.18C21.3177 20.8072 20.8078 21.3171 20.1805 21.6367C19.4674 22 18.5341 22 16.6672 22H7.33388C5.46704 22 4.53362 22 3.82058 21.6367C3.19337 21.3171 2.68344 20.8072 2.36386 20.18C2.00055 19.4669 2.00055 18.5336 2.00055 16.6667V15.3333M17.5561 9.77778L12.0005 15.3333M12.0005 15.3333L6.44499 9.77778M12.0005 15.3333V2" stroke="white" stroke-width="2.22222" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </div>
  </section>
</section>
<% if flash[:success] %>
  <aside class="flex items-center justify-between gap-3 fixed top-8 left-1/2 -translate-x-1/2 text-white font-lg px-3 py-2 text-center bg-green-500 z-50 min-w-[90%] md:min-w-64">
    <%= flash[:success] %>
    <%= render "close_button" %>
  </aside>
<% end %>
<% if flash[:error] %>
  <aside class="flex items-center justify-between gap-3 fixed top-8 left-1/2 -translate-x-1/2 text-white font-lg px-3 py-2 text-center bg-red-600 z-50 min-w-[90%] md:min-w-64">
    <%= flash[:error] %>
    <%= render "close_button" %>
  </aside>
<% end %>
